{% extends "base.html"%}
{% load compressed %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
{% endblock head %}

{% block content %}
<div class="ui two column grid">
    <div class="row">
        <div class="column">
            <h2>{{ project.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="column">
            {% leaflet_map "map1" callback="window.map1_init" %}
        </div>
        <div class="column">
            {% leaflet_map "map2" callback="window.map2_init" %}
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{ iteration.question }}
            <form action="{% url 'wb_submit' project.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="workunit" value="{{ workunit.id }}" />
            <div class="ui form">
                <div class="grouped inline fields">
                {% for answer in iteration.answers.all %}
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="answer" checked="" value="{{ answer.id }}">
                        <label>{{ answer.text }}</label>
                      </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <button class="ui blue submit button">Submit</button>
            <form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
{% leaflet_js %}
<script>
$('#menu_workbench').addClass('active');
var workunit = '{{ workunit.polygonWKT|safe }}'
$('.ui.radio.checkbox')
  .checkbox()
;
var map1, map2;
var myStyle = {
    "color": "#ff7800",
    "weight": 2,
    "fillOpacity": 0
};

function map1_init (map, options) {
        var bing = new L.BingLayer("AgSEcL7XIjrTt9idnR2R-chdcVCdoEjWSlBfrh2g_flcUqKMRNxFHtqfCxJ63fs_");
        map.addLayer(bing);
        wu = omnivore.wkt.parse(workunit);
        wu.setStyle(myStyle);
        wu.addTo(map);
        map.fitBounds(wu.getBounds())
        map1 = map;
    }

function map2_init (map, options) {
        var osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(osm);
        wu = omnivore.wkt.parse(workunit);
        wu.setStyle(myStyle);
        wu.addTo(map);
        map.fitBounds(wu.getBounds())
        map1.sync(map);
        map.sync(map1);
    }
</script>

{% endblock extra_js %}