{% extends "base.html"%}
{% load compressed %}

{% block content %}
<div class="ui grid">
    <div class="three wide column">
        <div class="ui vertical pointing menu">
          <div class="item active">
            <i class="dashboard icon"></i> Select project
          </div>
        </div>
    </div>
    <div class="ten wide column">
        <table class="ui table segment">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects.all %}
                <tr>
                    <td><a href="{% url 'wb_desk' project.id %}" >{{ project.title }}</a></td>
                    <td>{{ project.status }}</td>
                    <td> - </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
$('#menu_workbench').addClass('active');
</script>
{% endblock extra_js %}