{% extends "base.html"%}
{% load compressed %}

{% block content %}
<div class="ui vertical pointing menu">
  <a class="item" id="menu_admin_overview" href="{% url 'admin_home' %}">
    <i class="dashboard icon"></i> Overview
  </a>
  <a class="item" id="menu_admin_add" href="{% url 'admin_add' %}">
    <i class="add sign box icon"></i> Create new
  </a>
</div>
{% endblock content %}

{% block extra_js %}
<script>
$('#menu_admin').addClass('active');
$('#menu_admin_add').addClass('active');
</script>
{% endblock extra_js %}