{% extends "base.html"%}
{% load compressed %}
{% load leaflet_tags %}

{% block head %}
    {% leaflet_css %}
{% endblock head %}


{% block content %}
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/gis/js/OLMapWidget.js"></script>
<div class="ui grid">
    <div class="three wide column">
        <div class="ui vertical pointing menu">
          <a class="item" id="menu_admin_overview" href="{% url 'admin_home' %}">
            <i class="dashboard icon"></i> Overview
          </a>
          <a class="item" id="menu_admin_add" href="{% url 'admin_add' %}">
            <i class="add sign box icon"></i> Create new
          </a>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui steps">
          <div class="ui step">
            Basic information
          </div>
          <a class="ui step" href="{% url 'admin_add_two' project.id %}">
            Area selection
          </a>
          <a class="ui step" href="{% url 'admin_add_three' project.id %}">
            Iterations
          </a>
          <div class="ui active step">
            Publish
          </div>
        </div>
        <div class="ui segment">
        <div class="ui ribbon red label">Project details</div>
          <p><b>Title:</b> {{ project.title }}</p>
          <p><b>Description:</b> {{ project.description }}</p>
          <p><b>Creator:</b> {{ project.creator }}</p>
          <p><b>Initial zoom:</b> {{ project.initial_zoom }}</p>
          <p><b>Status:</b> {{ project.status }}</p>
          {% if project.canBePublished %}
            <a class="ui right red labeled icon button submit" href="{% url 'admin_publish' project.id %}"><i class="right arrow icon"></i> Publish</a>
          {% endif %}
        </div>
        <div class="ui segment">
        <div class="ui ribbon red label">Area of interest</div>
          {% leaflet_map "map" callback="window.map_init" %}
        </div>
        <div class="ui segment">
        <div class="ui ribbon red label">Workflow</div>
        <div class="ui relaxed divided list">
        {% for iteration in project.workflow.iteration.all %}
          <div class="item">
            <i class="circular pencil icon"></i>
            <div class="content">
              <a class="header">{{ iteration.question }}</a>
              {% for answer in iteration.answers.all %}
                <div class="description">{{ answer.text }}</div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
{% leaflet_js %}
<script>
var projectAOI = '{{ project.area_of_interest|safe }}'

$('#menu_admin').addClass('active');
$('#menu_admin_add').addClass('active');
$('.ui.radio.checkbox')
  .checkbox()
;

function map_init (map, options) {
  var bing = new L.BingLayer("AgSEcL7XIjrTt9idnR2R-chdcVCdoEjWSlBfrh2g_flcUqKMRNxFHtqfCxJ63fs_");
  map.addLayer(bing);
  console.log('test')
  wu = omnivore.wkt.parse(projectAOI);
  console.log(wu)
  wu.setStyle({
    "color": "#ff7800",
    "weight": 2,
    "fillOpacity": 0
  });
  wu.addTo(map);
  map.fitBounds(wu.getBounds())
}
</script>
{% endblock extra_js %}