{% extends "base.html"%}
{% load compressed %}

{% block content %}
<div class="ui two column page grid">
  <div class="column" style="text-align: justify;">
    <h3 class="ui dividing header">What is Hakken?</h3>
    <p>Service will be used to crowdsource discovery of particular feature types using satellite imagery based on predefined tile like structure.</p>
    <p>The discovery process is useful in the preparation/planning phases for projects like HOT Tasking Manager, as it enables to narrow/specialize work area. It could also be useful for general feature discovery tasks. For example, you could setup a task 'discover forested areas in Egypt', so anyone can click through some tasks. Service could also be used to validate finished tasks on the Tasking Manager.</p>
  </div>
  <div class="column">
    <div class="column" style="text-align: justify;">
    <h3 class="ui dividing header">Latest data</h3>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
$('#menu_home').addClass('active');
</script>
{% endblock extra_js %}