{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title%} Hakken {% endblock title%}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'contrib' %}
</head>

<body>
<div class="ui menu">
  <a class="item" href="/" id="menu_home">
    <i class="home icon"></i> Home
  </a>
  <a class="item" href="{% url 'wb_select' %}" id="menu_workdesk">
    <i class="desktop icon"></i> Workdesk
  </a>
  <a class="item" href="{% url 'admin_home' %}"  id="menu_admin">
    <i class="settings icon"></i> Administration
  </a>
  <div class="right menu">
    {% if user.is_authenticated %}
      <div class="item">
        <i class="user icon"></i> {{ user.username }}
      </div>
      <div class="item">
        <a class="ui button" href="{% url 'logout_user' %}">Log-out</a>
      </div>
    {% else %}
      <div class="item">
        <a class="ui purple button"  href="{% url 'social:begin' 'openstreetmap' %}"><i class="user icon"></i> Log-in</a>
      </div>
    {% endif %}
  </div>
</div>

{% block content %}

{% endblock content %}

{% compressed_js 'contrib' %}

{% block extra_js %}
{% endblock extra_js %}
</body>
</html>